.gitlab-promo
  = link_to '主页', promo_url
  = link_to "博客", promo_url + '/blog/'
  = link_to "智能DNS", "http://www.zndns.com/"
  / = link_to "@gituse", "https://twitter.com/gitlab"
  / = link_to "请求", "http://feedback.gitlab.com/"
