%div#github_import_modal.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 GitHub上的OAuth导入
      .modal-body
        首先你需要配置与GitHub的集成。
        = link_to '如何设置与GitHub集成', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/integration/github.md'