- if @merge_request_diff.collected?
  = render "projects/diffs/diffs", diffs: @merge_request.diffs, project: @merge_request.source_project
- elsif @merge_request_diff.empty?
  .nothing-here-block 没有从合并 #{@merge_request.source_branch} 分为 #{@merge_request.target_branch}
- else
  .bs-callout.bs-callout-warning
    %h4
      变更查看这比较是非常大的。
    %p
      您可以
      = link_to "下载它", project_merge_request_path(@merge_request.target_project, @merge_request, format: :diff), class: "vlink"
      代替.
