- if @source_branch.blank?
  源分支已被删除

- elsif can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && @merge_request.merged?
  .remove_source_branch_widget
    %p 更改合并到 #{@merge_request.target_branch}. 您现在可以删除源分支
    = link_to project_branch_path(@merge_request.source_project, @source_branch), remote: true, method: :delete, class: "btn btn-primary btn-small remove_source_branch" do
      %i.fa.fa-times
      删除源分支

  .remove_source_branch_widget.failed.hide
    无法删除源分支 '#{@merge_request.source_branch}'

  .remove_source_branch_in_progress.hide
    %i.fa.fa-spinner.fa-spin
    &nbsp;
    删除源分支 '#{@merge_request.source_branch}'. 请耐心等待。页面会自动重新加载。&nbsp;
